* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, sans-serif;
}
body {
  background: #757780;
}
article {
  margin: 3rem 10vw 3rem 4vh;
}
:root {
  --firstName-color: #ffffff;
  --lastName-color: #ffff00;
}

h1 {
  font-size: calc(1.6rem + 1.6vh);
  text-align: center;
  display: grid;
  grid-template-columns: (7, 1fr);
}
h1 span:nth-child(1) {
  color: var(--firstName-color);
  grid-column: 1;
  grid-row: 1;
}
h1 span:nth-child(2) {
  color: var(--firstName-color);
  grid-column: 2;
  grid-row: 2;
}
h1 span:nth-child(3) {
  color: var(--firstName-color);
  grid-column: 3;
  grid-row: 1;
}
h1 span:nth-child(4) {
  color: var(--firstName-color);
  grid-column: 4;
  grid-row: 2;
}
h1 span:nth-child(5) {
  color: var(--firstName-color);
  grid-column: 5;
  grid-row: 1;
}
h1 span:nth-child(6) {
  color: var(--firstName-color);
  grid-column: 6;
  grid-row: 2;
}
h1 span:nth-child(7) {
  color: var(--firstName-color);
  grid-column: 7;
  grid-row: 1;
}
h1 span:nth-child(8) {
  color: var(--lastName-color);
  grid-column: 2;
  grid-row: 4;
}
h1 span:nth-child(9) {
  color: var(--lastName-color);
  grid-column: 3;
  grid-row: 5;
}
h1 span:nth-child(10) {
  color: var(--lastName-color);
  grid-column: 4;
  grid-row: 4;
}
h1 span:nth-child(11) {
  color: var(--lastName-color);
  grid-column: 5;
  grid-row: 5;
}
nav {
  writing-mode: vertical-rl;
  height: max-content;
  /* background: #ffff00; */
  background: #ff4500;
}
.hello {
  color: var(--lastName-color);
}
.secondary,
.white {
  color: white;
}
p {
  color: var(--firstName-color);
}
.menu {
  padding: 1em;
}
.menu li {
  list-style: none;
}
.menu li > a {
  text-decoration: none;
  font-weight: 900;
  color: var(--firstName-color);
}
