/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width: 576px) {
  * {
    box-sizing: border-box;
    font-family: Avenir, Helvetica, sans-serif;
  }
  body {
    background: #757780;
  }
  section {
    margin-top: 2.5em;
    font-size: 3em;
  }
  article {
    margin: 3rem 10vw 3rem 4vw;
  }
  :root {
    --primary-color: #ffffff;
    --secondary-color: #ffff00;
  }

  h1 {
    font-size: calc(3em + 1.6vw);
    text-align: center;
    display: grid;
    grid-template-columns: (7, 1fr);
  }
  h1 span:nth-child(1) {
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 1;
    grid-row: 1;
  }
  h1 span:nth-child(2) {
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 2;
    grid-row: 2;
  }
  h1 span:nth-child(3) {
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 3;
    grid-row: 1;
  }
  h1 span:nth-child(4) {
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 4;
    grid-row: 2;
  }
  h1 span:nth-child(5) {
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 5;
    grid-row: 1;
  }
  h1 span:nth-child(6) {
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 6;
    grid-row: 2;
  }
  h1 span:nth-child(7) {
    color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 7;
    grid-row: 1;
  }
  h1 span:nth-child(8) {
    color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 1;
    grid-row: 4;
  }
  h1 span:nth-child(9) {
    color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 3;
    grid-row: 5;
  }
  h1 span:nth-child(10) {
    color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 5;
    grid-row: 4;
  }
  h1 span:nth-child(11) {
    color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: 7;
    grid-row: 5;
  }
  .line {
    border: 3px solid #0000ff;
  }
  nav {
    background: #0000ff;
    writing-mode: vertical-rl;
    height: max-content;
  }
  .hello {
    color: var(--secondary-color);
  }
  .secondary,
  .white {
    color: white;
  }
  p {
    color: var(--primary-color);
  }
  ul {
    padding: 1rem;
  }
  .menu li {
    list-style: none;
  }
  .menu li > a {
    text-decoration: none;
    font-size: 2em;
    /* font-weight: 500; */
    color: var(--primary-color);
  }
  .menu li > a:hover {
    color: var(--secondary-color);
  }
  /* blue box */
  .red-box {
    display: none;
    border: solid 5px #0000ff;
  }
  img {
    margin: 5px;
    width: 400px;
    height: 400px;
    mix-blend-mode: overlay;
    opacity: 0.5;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* ... */
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* ... */
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* ... */
}
