/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width: 576px) {
  * {
    box-sizing: border-box;
    font-family: Avenir, Helvetica, sans-serif;
  }
  body {
    background: #757780;
  }
  section {
    margin-top: 2.5em;
    font-size: 3em;
  }
  article {
    margin: 3rem 10vw 3rem 4vw;
  }
  :root {
    --primary-color: #ffffff;
    --secondary-color: #ffff00;
    --grey-color: #757780;
  }
  /* name styling starts */
  h1 {
    font-size: calc(3em + 1.6vw);
    text-align: center;
    display: grid;
    grid-template-columns: (7, 1fr);
  }
  h1 span:nth-child(1) {
    color: var(--primary-color);
    grid-column: 1;
    grid-row: 1;
  }
  h1 span:nth-child(2) {
    color: var(--primary-color);
    grid-column: 2;
    grid-row: 2;
  }
  h1 span:nth-child(3) {
    color: var(--primary-color);
    grid-column: 3;
    grid-row: 1;
  }
  h1 span:nth-child(4) {
    color: var(--primary-color);
    grid-column: 4;
    grid-row: 2;
  }
  h1 span:nth-child(5) {
    color: var(--primary-color);
    grid-column: 5;
    grid-row: 1;
  }
  h1 span:nth-child(6) {
    color: var(--primary-color);
    grid-column: 6;
    grid-row: 2;
  }
  h1 span:nth-child(7) {
    color: var(--primary-color);
    grid-column: 7;
    grid-row: 1;
  }
  h1 span:nth-child(8) {
    color: var(--secondary-color);
    grid-column: 1;
    grid-row: 4;
  }
  h1 span:nth-child(9) {
    color: var(--secondary-color);
    grid-column: 3;
    grid-row: 5;
  }
  h1 span:nth-child(10) {
    color: var(--secondary-color);
    grid-column: 5;
    grid-row: 4;
  }
  h1 span:nth-child(11) {
    color: var(--secondary-color);
    grid-column: 7;
    grid-row: 5;
  }
  /* name styling ends */

  .line {
    border: 3px solid #ffffff;
  }

  /* nav style */
  nav {
    background: #ffffff;
    writing-mode: vertical-rl;
    height: max-content;
  }

  /* end nav style */

  .hello {
    color: var(--secondary-color);
  }
  .secondary,
  .white {
    color: white;
  }

  /* paragraph styling */
  p {
    color: var(--primary-color);
  }

  ul {
    padding: 1rem;
  }
  .menu li {
    list-style: none;
  }
  .menu li > a {
    text-decoration: none;
    font-size: 2em;
    /* font-weight: 500; */
    color: var(--grey-color);
  }
  .menu li > a:hover {
    color: var(--secondary-color);
  }
  /* blue box */
  .red-box {
    display: none;
    border: solid 5px #ffffff;
  }
  /* images */
  img {
    margin: 5px;
    width: 400px;
    height: 400px;
    mix-blend-mode: overlay;
    opacity: 0.5;
  }
}

/* button decorations */
.button-1,
.button-2,
.button-3,
.button-4 {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  color: #757780;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.button-1:hover {
  border: 2px solid #ffffff;
  background-color: #757780;
  color: #ffffff;
}
.button-2:hover {
  border: 2px solid #ffffff;
  background-color: #757780;
  color: #ffffff;
}
.button-3:hover {
  border: 2px solid #ffffff;
  background-color: #757780;
  color: #ffffff;
}
.button-4:hover {
  border: 2px solid #ffffff;
  background-color: #757780;
  color: #ffffff;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* ... */
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* ... */
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* ... */
}
